{% extends "layout.html" %}
{% block content %}
    <h1>TravelAid</h1>

    <form action="/home" method="POST">
        <label>Select a country</label>
            <!-- <input type="text" name="country" id="country"> -->
             <select name = "country" class="chosen-select" >
                {% for country in country_list %}
                <option value = "{{ country }}">{{ country}}</option>
                {% endfor %}
             </select>
             <input type="submit" value="Submit">
    </form>

    <br>
    <div style="overflow: auto; width: auto; height:250px;">
        {% if data_obj %}
            <h3>{{ data_obj.adm0_name }}</h3>
            {% if data_obj.info %}
                <p>{{ data_obj.info }}</p>
            {% else %}
                <p>No information available.</p>
            {% endif %}
        {% endif %}
    </div>
    <br>
<div>
{% if country_airport_codes %}
    <form action="/results" method="POST">
        <label>Select Origination Airport</label>
            <select name = "origination" class="chosen-airport" >
              {% for airport in all_airport_codes %}
              <option value = "{{ airport }}">{{ airport }}</option>
              {% endfor %}
            </select>       
        <label>Select Destination Airport for <strong>{{ data_obj.adm0_name }} </strong> </label>
             <select name = "destination" class="chosen-airport" >
                {% for airport in country_airport_codes %}
                <option value = "{{ airport }}">{{ airport }}</option>
                {% endfor %}
             </select>
        <label>Enter Departure Date</label>
             <input type="date">
        <input type="submit" value="Submit">
    </form>
{% endif %}  
{% if no_airport_found %}
    <p>{{ no_airport_found }}</p>
{% endif %}
</div>

<div>
  <table id="dtDynamicVerticalScrollExample" class="table table-striped table-bordered table-sm" cellspacing="0"
  width="100%">
    <thead>
      <tr>
        <th class="th-sm">Airline
        </th>
        <th class="th-sm">Number of Stops
        </th>
        <th class="th-sm">Price
        </th>
        <th class="th-sm">Duration
        </th>
        <th class="th-sm">Class
        </th>
      </tr>
    </thead>

    <!-- <tbody>
    <tr>
    </tr>
  </tbody> -->

    <tfoot>
      <tr>
        <th class="th-sm">Airline
        </th>
        <th class="th-sm">Number of Stops
        </th>
        <th class="th-sm">Price
        </th>
        <th class="th-sm">Duration
        </th>
        <th class="th-sm">Class
        </th>
      </tr>
    </tfoot>
  </table>

</div>

{% endblock content %}
